*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: Verdana, sans-serif;
}

/* Efeito */
a{
    color: #fff;
}


.page {
    opacity: 0;
    transform: translateY(100px);
    animation: fadeInUp 2s ease forwards;
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


body{
background-color:#F9F5EB;
}


.lok{
    color: #fff;
    border-radius: 8px;
    background-color: #DFA716 ;
    padding: 5px 10px;
    
}

.lok:hover{
    color:#000;
    background-color: #fff;
}




.page{
    width: 100%;
    max-width:1100px;
    margin: 0 auto;
    padding-top: 42px;
}


.body{
    width: 100vh;
}

header{

    background-color: #214B9A;
    border-radius: 5px;
    padding: 10px 60px;
    margin-bottom: 70px;
}

.logoo{
    width: 70px;
    cursor: pointer;
}

.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation ul{
    display: flex;
    align-items: center;
    gap: 28px;
   
}

.navigation ul li a{
    padding-bottom: 4px;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
}

.navigation ul li a:hover {
    color: #DFA716;
    border-bottom: 1px solid #fff;
}



h1{
    padding-bottom: 10px; 
    line-height: 56px;
    font-size: 49px;
    color: #000;
}

 span{
    color: #DFA716;
   }

section p{
    font-size: 14px;
    line-height: 28px;
    color: #000;
    margin-bottom: 20px;
}

.btn  button{
    display: inline-block;
    border-radius: 25px;
    background-color:#214B9A;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    padding: 12px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
}

.btn button:hover {
    
    background-color: #DFA716;
    box-shadow: 0px, 8px, 16px rgba(0, 0, 0, 2);
}


footer {
        margin-top: 45px;
        background-color:#214B9A;
        padding: 20px 0;
        text-align: center;
        font-size: 14px;
        color: #ffff;
    }

/*Sobre*/

.sobre{
    display: flex ;
    align-items: center;
    flex-direction: row-reverse;
    gap: 70px;
}


main{
    display: flex;
    align-items: center;
}


.produto{
    width: 430px;
}


.aluna{
    width: 400px;
    height: 450px;
    
}


.corform{
    color: #fff;
}

.btnform{
    display: inline-block;
    border-radius: 25px;
    background-color:#214B9A;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    padding: 12px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
}

.pageform{
    width: 950px;
    margin: 0 auto;
}

.btnform:hover{
    background-color: #DFA716;
    box-shadow: 0px, 8px, 16px rgba(0, 0, 0, 2);
}

/* referente a lojinha*/


.lojinha{
  color: #fff;
  background-color: #214B9A;
  padding: 20px;
  text-align: center;
}

.texto[type="text"] {
    padding: 8px;
    width: 300px;
    text-align: center;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    margin-right: 10px;
   
  }
  
#searchButton{
    display: inline-block;
    border-radius: 25px;
    background-color:#214B9A;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    padding: 12px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
}

#searchButton:hover{
    background-color: #DFA716;
    box-shadow: 0px, 8px, 16px rgba(0, 0, 0, 2);
}


img {
    max-width: 100%;
    height: auto;
  }



 /* usuario */

 .user2{
    margin-bottom: 25px;
    align-items: center;
    text-align: center;
 }


.cards{
    display: flex;
    gap:20px;
}

 .card {
    color: #214B9A;
    width: 200px;
    height: 200px;
    background-color:#214B9A;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 16px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;

  }



.card:hover{
    border: 1px solid #DFA716;
    color: #DFA716;
    
}
.barra{
   margin-bottom: 50px;

}


.card{
   
    align-items: center;
    text-align: center;
}

.mulheres{
    width: 400px;
}


.tudo{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.cint{
    text-align: center;
    align-items: center;
    flex-direction: column;
}


.cards button {
    border: none;
    background-color: #fff;
    padding: 0.4rem 1rem;
    border-radius: 5px;
    cursor: pointer;
   
}

.cards button:hover {
    background-color:  #DFA716;
}

.cards button a {
    text-decoration: none;
    
    font-weight: 500;
    color: #fff;
}

.hh{
   margin: 10px;
   padding: 10px; 
}

  /* Ainda precisa ajustar */

  @media screen  and (max-width:768px) {


 @media (max-width: 768px) {
        img {
          max-width: 50%;
        }
        
      }

.page{
       padding: 10px;
       
    }

    
 @media (max-width: 480px) {
  .page {
    padding: 5px;
  }
    }

 @media (max-width: 300px) {
    .page {
      padding: 5px;
    }
}



@media (max-width: 250px) {
    .page .produto {
      padding: 10px;
    }
}

  }
